@page "/"

<body>

    <h2>Collapsed Borders</h2>
    

    <table style="width:100%">

        <tr>
            <td>Jill</td>
            <td>Smith</td>

        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>

        </tr>
        <tr>
            <td>John</td>
            <td>Doe</td>

        </tr>
    </table>

</body>
