@page "/"

<body>

    <h2>Collapsed Borders</h2>
    
    <div class="table-container">
        <table>

            <tr>
                <td>Jill</td>
                <td>Smith</td>

            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>

            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>

            </tr>
            <tr>

                <td>January</td>
                <td>$100</td>

            </tr>
            <tr>
                <td>February</td>
                <td>$50</td>
            </tr>

            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>

            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>

            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>

            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>

            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>

            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>

            </tr>
        </table>
    </div>
</body>
